<div class="row">
    <div class="col-xs-12 col-sm-2 col-sm-2 col-md-2 col-lg-2">
 <img src="../../../assets/Logos/foto-perfil.jpg" 
 class="img-fluid" id="foto">
 </div >
 <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"  >
    <p id="nombre">Villalba Carla Camila</p>
    <p>Full Stack Developer Jr</p>
</div>
<div class=" col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de Mí</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto deserunt in a aperiam repellendus veritatis quis quibusdam maiores accusantium iusto blanditiis doloribus, animi dolorum sint adipisci! Molestiae assumenda quod ipsa.
        </p>
    </span>
</div>
</div>
