<div class="row">
<div class="container">
<div class="logo">
    <img src="../../../assets/Logos/APLogo.png" id="logoAP">

</div>
<div class="redes">

    <a href=" https://www.linkedin.com/in/carla-camila-villalba-b732801b8"><img src="../../../assets/Logos/linkedin.png" id="linkedin"></a>
    <a href="https://mobile.twitter.com/carlavi17911477"><img src="../../../assets/Logos/twitter.png" id="twitter"></a>
    <a href=""><img src="../../../assets/Logos/instagram.png" id="instagram"></a>
    <a href="https://github.com/Villalba-carla84"><img src="../../../assets/Logos/github.png" id="github"></a>
    <a href="https://www.facebook.com/carla.carlita.79"><img src="../../../assets/Logos/facebook.png" id="facebook"></a>
    <button type="button" class="btn btn-outline-secondary">INGRESO</button>
</div>
               


</div>





</div>

