<div class="row">
    <h1> Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
     <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1>-<h3>(years)</h3>
            </li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero laborum adipisci voluptatibus repellat. Necessitatibus quod voluptates quas quia deserunt esse repellendus? Quo eius distinctio fugiat magni rerum culpa ex pariatur!
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1>-<h3>(years)</h3>
            </li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero laborum adipisci voluptatibus repellat. Necessitatibus quod voluptates quas quia deserunt esse repellendus? Quo eius distinctio fugiat magni rerum culpa ex pariatur!
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1>-<h3>(years)</h3>
            </li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero laborum adipisci voluptatibus repellat. Necessitatibus quod voluptates quas quia deserunt esse repellendus? Quo eius distinctio fugiat magni rerum culpa ex pariatur!
        </ul>
     
    </div>
</div>
